
# Starting the Data Analysis:

### Introduction:

We are starting by first taking in the total data table for the 311 Reports from the API call that was made into a CSV file. We are then going to take the data and clean it up to make it easier to work with and sort it out. We are going to be using the Pandas library to help us with this.

In [148]:
import pandas as pd
import numpy as np


# Path to the data
path = '../../data/data_total2.csv'

# Read the data
df = pd.read_csv(path)

# Print the data
df.head()

/var/folders/x_/8pz94hbn65n99wfln5fd_p840000gn/T/ipykernel_2408/2654772693.py:9: DtypeWarning: Columns (14,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,neighborhood,open_dt,city_council_district,precinct,subject,neighborhood_services_district,case_enquiry_id,on_time,sla_target_dt,source,...,closure_reason,location_zipcode,closed_dt,case_title,longitude,queue,geom_4326,case_status,_id,fire_district
0,Greater Mattapan,2011-06-30 21:32:33,3,1714,Public Works Department,7,101000295613,ONTIME,2011-07-14 21:32:32,Employee Generated,...,Case Closed Case Resolved replaced 100 amp fus...,NaN,2011-07-01 01:06:58,Street Light Outages,-71.077221,PWDx_Street Light Outages,0101000020E6100000CC4F6F30F1C451C0ADBC83F5C122...,Closed,1,8
1,Roslindale,2011-06-30 22:18:31,5,2008,Public Works Department,10,101000295614,ONTIME,2011-07-04 22:18:31,Self Service,...,Case Closed Case Scheduled Items have been sch...,2131.0,2011-07-01 02:12:43,Schedule a Bulk Item Pickup,-71.144741,PWDx_Schedule a Bulk Item Pickup,0101000020E6100000C960F36E43C951C06CE46A2F5524...,Closed,2,12
2,West Roxbury,2011-06-30 22:28:04,6,2017,Transportation - Traffic Division,12,101000295615,ONTIME,2011-08-14 22:28:04,Self Service,...,Case Closed Case Resolved No Sidewalk and poor...,NaN,2011-08-01 11:21:46,New Sign Crosswalk or Pavement Marking,-71.169805,BTDT_Engineering_New Sign and Pavement Marking...,0101000020E6100000B311E014DECA51C0A1102F826F26...,Closed,3,NaN
3,Hyde Park,2011-06-30 23:03:48,5,1816,Public Works Department,10,101000295616,OVERDUE,2011-07-14 23:03:48,Self Service,...,Case Closed Case Resolved completed,2136.0,2011-07-22 12:13:45,Street Light Outages,-71.115631,PWDx_Street Light_Pending_Contractor (Internal),0101000020E61000003219CE7E66C751C0DDF2D930F41F...,Closed,4,12
4,Dorchester,2011-06-30 23:12:31,3,1309,Public Works Department,7,101000295617,ONTIME,NaN,Constituent Call,...,Case Closed Case Resolved,NaN,2011-07-01 02:12:38,Highway Maintenance,-71.056878,PWDx_District 03: North Dorchester,0101000020E6100000615079E5A3C351C0C71CEA6D3F28...,Closed,5,7

## Columns:


### Function to give a general description

A function that will be used to describe each column in the table in a set paragraph format to help better understand each column and what datatypes are being used.

In [149]:
# Create a function to get the column names and write a paragraph about each column that is inputed in a set paragraph format. Create the paragraph and also the datatypes of the columns and unique values of that columns if its less than 50 unique values.

def describe_column(column_name, dataframe):
    description = ""
    if column_name in dataframe.columns:
        print("Column for this data is from 2011-2023 data of Boston 311 service requests.\n")
        data_type = str(dataframe[column_name].dtype)
        unique_values = dataframe[column_name].unique()
        num_unique_values = len(unique_values)
        
        print(f"**{column_name} ({data_type}):** \n")
        
        if num_unique_values < 50:
            print(f"This column contains {num_unique_values} unique values: {', '.join(map(str, unique_values))}.\n")
        else:
            print("This column contains a large number of unique values.\n")
        
        #Find the number of null values
        num_null = dataframe[column_name].isnull().sum()
        print(f"There are {num_null} null values.\n")

        # Find the number of non-null values
        num_non_null = dataframe[column_name].count()
        print(f"There are {num_non_null} non-null values.\n")

        # Find the number of unique values
        num_unique = dataframe[column_name].nunique()
        print(f"There are {num_unique} unique values.\n")

        # Sample a few values
        print("Here are a few sample values:")
        print(dataframe[column_name].sample(5).tolist())
        print("\n")

        # Add more specific details based on column name
        if column_name == "open_dt":
            print("This column represents the date when the case was opened.")
        elif column_name == "neighborhood":
            print(" This column represents the neighborhood where cases are reported.")
        elif column_name == "city_council_district":
            print(" This column represents the city council district where cases are reported.")
        elif column_name == "precinct":
            print(" This column represents the police precinct where cases are reported.")
        elif column_name == "subject":
            print(" This column represents the subject of the case.")
        elif column_name == "neighborhood_services_district":
            print(" This column represents the neighborhood services district where cases are reported.")
        elif column_name == "case_enquiry_id":
            print(" This column represents the case enquiry id of the case.")
        elif column_name == "on_time":
            print(" This column represents whether the case was addressed on time or not.")
        elif column_name == "sla_target_dt":
            print(" This column represents the service level agreement target date of the case.")
        elif column_name == "source":
            print(" This column represents the source of the case.")
        elif column_name == "location":
            print(" This column represents the location of the case.")
        elif column_name == "department":
            print(" This column represents the department of the case.")
        elif column_name == "type":
            print(" This column represents the type of the case.")
        elif column_name == "police_district":
            print(" This column represents the police district of the case.")
        elif column_name == "submitted_photo":
            print(" This column represents whether the case was submitted with a photo or not.")
        elif column_name == "latitude":
            print(" This column represents the latitude of the case.")
        elif column_name == "reason":
            print( " This column represents the reason of the case.")
        elif column_name == "ward":
            print(" This column represents the ward of the case.")
        elif column_name == "location_street_name":
            print(" This column represents the location street name of the case.")
        elif column_name == "pwd_district":
            print(" This column represents the pwd district of the case.")
        elif column_name == "closed_photo":
            print(" This column represents whether the case was closed with a photo or not.")
        elif column_name == "closure_reason":
            print(" This column represents the closure reason of the case.")
        elif column_name == "location_zipcode":
            print(" This column represents the location zipcode of the case.")
        elif column_name == "closed_dt":
            print(" This column represents the date when the case was closed.")
        elif column_name == "case_title":
            print(" This column represents the case title of the case.")
        elif column_name == "longitude":
            print(" This column represents the longitude of the case.")
        elif column_name == "queue":
            print(" This column represents the queue of the case.")
        elif column_name == "geom_4326":
            print(" This column represents the geom_4326 of the case.")
        elif column_name == "case_status":
            print(" This column represents the case status of the case.")
        elif column_name == "_id":
            print(" This column represents the id of the case.")
        elif column_name == "fire_district":
            print(" This column represents the fire district of the case.")

    return

### Neighborhood

In [150]:
print(describe_column("neighborhood", df))

Column for this data is from 2011-2023 data of Boston 311 service requests.

**neighborhood (object):**

This column contains 25 unique values: Greater Mattapan, Roslindale, West Roxbury, Hyde Park, Dorchester, Jamaica Plain, Fenway / Kenmore / Audubon Circle / Longwood, Roxbury, South Boston / South Boston Waterfront, Back Bay, Allston / Brighton, East Boston, Downtown / Financial District, Boston, Charlestown,  , Beacon Hill, South End, Mission Hill, Allston, Brighton, South Boston, Mattapan, nan, Chestnut Hill.

There are 2660 null values.

There are 2720865 non-null values.

There are 24 unique values.

Here are a few sample values:
['Dorchester', 'Jamaica Plain', 'South Boston / South Boston Waterfront', 'East Boston', 'Dorchester']


 This column represents the neighborhood where cases are reported.
None

### Open_dt

In [151]:
print(describe_column("open_dt", df))

Column for this data is from 2011-2023 data of Boston 311 service requests.

**open_dt (object):**

This column contains a large number of unique values.

There are 0 null values.

There are 2723525 non-null values.

There are 2468159 unique values.

Here are a few sample values:
['2015-06-24 09:08:00', '2013-05-09 03:47:58', '2012-11-14 05:25:56', '2016-06-26 14:42:34', '2020-08-30 17:15:48']


This column represents the date when the case was opened.
None

### City Council District

In [152]:
print(describe_column('city_council_district', df))

Column for this data is from 2011-2023 data of Boston 311 service requests.

**city_council_district (object):**

This column contains 12 unique values: 3, 5, 6, 8, 7, 2, 9, 4, 1,  , 0, nan.

There are 302 null values.

There are 2723223 non-null values.

There are 11 unique values.

Here are a few sample values:
['1', '1', '6', '1', '4']


 This column represents the city council district where cases are reported.
None

### Precinct

In [153]:
describe_column('precinct', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**precinct (object):**

This column contains a large number of unique values.

There are 1730 null values.

There are 2721795 non-null values.

There are 255 unique values.

Here are a few sample values:
['0303', '1005', '1708', '1804', '1819']


 This column represents the police precinct where cases are reported.

### Subject

In [154]:
describe_column('subject', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**subject (object):**

This column contains 14 unique values: Public Works Department, Transportation - Traffic Division, Mayor's 24 Hour Hotline, Inspectional Services, Property Management, Parks & Recreation Department, Boston Water & Sewer Commission, Animal Control, Neighborhood Services, Boston Police Department, Disability Department, Consumer Affairs & Licensing, Veterans, CRM Application.

There are 0 null values.

There are 2723525 non-null values.

There are 14 unique values.

Here are a few sample values:
['Public Works Department', 'Public Works Department', 'Public Works Department', 'Transportation - Traffic Division', 'Transportation - Traffic Division']


 This column represents the subject of the case.

### Neighborhood Services District

In [155]:
describe_column('neighborhood_services_district', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**neighborhood_services_district (object):**

This column contains 18 unique values: 7, 10, 12, 11, 14, 13, 5, 6, 15, 9, 8, 1, 3, 2, 4,  , 0, nan.

There are 308 null values.

There are 2723217 non-null values.

There are 17 unique values.

Here are a few sample values:
['8', '9', '15', '13', '10']


 This column represents the neighborhood services district where cases are reported.

### Case Inquiry ID

In [156]:
describe_column('case_enquiry_id', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**case_enquiry_id (int64):**

This column contains a large number of unique values.

There are 0 null values.

There are 2723525 non-null values.

There are 2723525 unique values.

Here are a few sample values:
[101002848218, 101002593028, 101003667106, 101004555293, 101003127118]


 This column represents the case enquiry id of the case.

### On Time

In [157]:
describe_column('on_time', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**on_time (object):**

This column contains 3 unique values: ONTIME, OVERDUE, nan.

There are 671 null values.

There are 2722854 non-null values.

There are 2 unique values.

Here are a few sample values:
['ONTIME', 'ONTIME', 'ONTIME', 'ONTIME', 'OVERDUE']


 This column represents whether the case was addressed on time or not.

### Service Level Agreement Target Date

In [158]:
describe_column('sla_target_dt', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**sla_target_dt (object):**

This column contains a large number of unique values.

There are 454717 null values.

There are 2268808 non-null values.

There are 1400557 unique values.

Here are a few sample values:
['2012-07-07 09:21:04', '2015-08-25 12:02:35', '2020-02-03 03:30:00', nan, '2017-10-13 04:30:00']


 This column represents the service level agreement target date of the case.

### Source

In [159]:
describe_column('source', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**source (object):**

This column contains 7 unique values: Employee Generated, Self Service, Constituent Call, Citizens Connect App, Twitter, Maximo Integration, City Worker App.

There are 0 null values.

There are 2723525 non-null values.

There are 7 unique values.

Here are a few sample values:
['Citizens Connect App', 'Citizens Connect App', 'Employee Generated', 'Citizens Connect App', 'Constituent Call']


 This column represents the source of the case.

### Location

In [160]:
describe_column('location', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**location (object):**

This column contains a large number of unique values.

There are 0 null values.

There are 2723525 non-null values.

There are 148463 unique values.

Here are a few sample values:
['9 Martinwood Rd  Roslindale  MA  02131', 'INTERSECTION of Dudley St & Harrison Ave  Roxbury  MA  ', '169 Townsend St  Dorchester  MA  02121', 'INTERSECTION of Brainerd Rd & Corey Rd  Allston  MA  ', 'INTERSECTION of Public Alley No. 439 & Clarendon St  Boston  MA  ']


 This column represents the location of the case.

### Department

In [161]:
describe_column('department', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**department (object):**

This column contains 19 unique values: PWDx, BTDT, INFO, ISD, PARK, PROP, BWSC, DISB, No Q, BPS_, BHA_, ANML, ONS_, GEN_, BPD_, DND_, Temp, ECON, GRNi.

There are 0 null values.

There are 2723525 non-null values.

There are 19 unique values.

Here are a few sample values:
['BPS_', 'PARK', 'INFO', 'PWDx', 'PWDx']


 This column represents the department of the case.

### Type

In [162]:
describe_column('type', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**type (object):**

This column contains a large number of unique values.

There are 0 null values.

There are 2723525 non-null values.

There are 212 unique values.

Here are a few sample values:
['Schedule a Bulk Item Pickup', 'Schedule a Bulk Item Pickup', 'Schedule a Bulk Item Pickup', 'Trash on Vacant Lot', 'Requests for Street Cleaning']


 This column represents the type of the case.

### Police District

In [163]:
describe_column('police_district', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**police_district (object):**

This column contains 25 unique values: B3, E5, E18, C11, E13, D4, C6, A1, B2, D14, A7, A15,  , nan, D-14, C-11, B-2, A-15, D-4, E-13, C-6, E-5, B-3, E-18, A-7.

There are 1088 null values.

There are 2722437 non-null values.

There are 24 unique values.

Here are a few sample values:
['A1', 'A7', 'D4', 'D4', 'B2']


 This column represents the police district of the case.

### Submitted Photo

In [164]:
describe_column('submitted_photo', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**submitted_photo (object):**

This column contains a large number of unique values.

There are 2720397 null values.

There are 3128 non-null values.

There are 3117 unique values.

Here are a few sample values:
[nan, nan, nan, nan, nan]


 This column represents whether the case was submitted with a photo or not.

### Latitude

In [165]:
describe_column('latitude', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**latitude (float64):**

This column contains a large number of unique values.

There are 44128 null values.

There are 2679397 non-null values.

There are 198910 unique values.

Here are a few sample values:
[42.288879629636206, 42.29379960618186, 42.32171724611683, 42.36603951799728, 42.35240954659568]


 This column represents the latitude of the case.

### Reason

In [166]:
describe_column('reason', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**reason (object):**

This column contains a large number of unique values.

There are 0 null values.

There are 2723525 non-null values.

There are 54 unique values.

Here are a few sample values:
['Street Cleaning', 'Needle Program', 'Highway Maintenance', 'Environmental Services', 'Enforcement & Abandoned Vehicles']


 This column represents the reason of the case.

### Ward

In [167]:
describe_column('ward', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**ward (object):**

This column contains a large number of unique values.

There are 180 null values.

There are 2723345 non-null values.

There are 56 unique values.

Here are a few sample values:
['Ward 18', 'Ward 4', '03', '19', '01']


 This column represents the ward of the case.

### Location Street Name

In [168]:
describe_column('location_street_name', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**location_street_name (object):**

This column contains a large number of unique values.

There are 54879 null values.

There are 2668646 non-null values.

There are 145089 unique values.

Here are a few sample values:
['461 Massachusetts Ave', '421-423 Beech St', '9 Grove St', '66 Lyndhurst St', 'INTERSECTION Brighton Ave & Linden St']


 This column represents the location street name of the case.

### PWD District

In [169]:
describe_column('pwd_district', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**pwd_district (object):**

This column contains 23 unique values: 07, 06, 08, 03, 10A, 10B, 05, 1C, 04, 02, 09, 1A, 1B,  , nan, 6, 4, 3, 9, 5, 2, 7, 8.

There are 1368 null values.

There are 2722157 non-null values.

There are 22 unique values.

Here are a few sample values:
['09', '10B', '02', '1C', '1C']


 This column represents the pwd district of the case.

### Closed Photo

In [170]:
describe_column('closed_photo', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**closed_photo (object):**

This column contains a large number of unique values.

There are 2470512 null values.

There are 253013 non-null values.

There are 253013 unique values.

Here are a few sample values:
[nan, nan, nan, nan, nan]


 This column represents whether the case was closed with a photo or not.

### Closure Reason

In [171]:
describe_column('closure_reason', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**closure_reason (object):**

This column contains a large number of unique values.

There are 0 null values.

There are 2723525 non-null values.

There are 2105083 unique values.

Here are a few sample values:
['Case Closed. Closed date : 2017-10-23 10:02:46.61 Case Resolved work completed ', 'Case Closed. Closed date : 2018-03-09 11:35:06.073 Case Resolved ', 'Case Closed. Closed date : 2023-04-12 14:28:08.523 Duplicate of Existing Case ', 'Case Closed Case Invalid  no e form  ', 'Case Closed. Closed date : 2019-02-27 12:56:37.9 Case Noted We will return on next scheduled trash day. Thank you for bringing this to our attention and using the system. ']


 This column represents the closure reason of the case.

### Location Zipcode

In [172]:
describe_column('location_zipcode', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**location_zipcode (float64):**

This column contains 39 unique values: nan, 2131.0, 2136.0, 2130.0, 2122.0, 2125.0, 2127.0, 2116.0, 2119.0, 2132.0, 2135.0, 2126.0, 2124.0, 2215.0, 2110.0, 2109.0, 2129.0, 2113.0, 2111.0, 2128.0, 2114.0, 2121.0, 2120.0, 2108.0, 2134.0, 2115.0, 2118.0, 2467.0, 2199.0, 2210.0, 2163.0, 2203.0, 2146.0, 2133.0, 2167.0, 2446.0, 2222.0, 2201.0, 2445.0.

There are 616680 null values.

There are 2106845 non-null values.

There are 38 unique values.

Here are a few sample values:
[nan, 2119.0, nan, 2118.0, 2215.0]


 This column represents the location zipcode of the case.

### Closed Date

In [173]:
describe_column('closed_dt', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**closed_dt (object):**

This column contains a large number of unique values.

There are 197632 null values.

There are 2525893 non-null values.

There are 2453949 unique values.

Here are a few sample values:
['2021-02-13 14:04:30', '2022-09-15 08:43:31', nan, nan, '2023-09-03 10:06:04']


 This column represents the date when the case was closed.

### Case Title

In [174]:
describe_column('case_title', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**case_title (object):**

This column contains a large number of unique values.

There are 544 null values.

There are 2722981 non-null values.

There are 27232 unique values.

Here are a few sample values:
['Unsatisfactory Utilities - Electrical  Plumbing', 'PRINTED : ', 'Request for Pothole Repair', 'Requests for Street Cleaning', 'Requests for Street Cleaning']


 This column represents the case title of the case.

### Longitude

In [175]:
describe_column('longitude', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**longitude (float64):**

This column contains a large number of unique values.

There are 44128 null values.

There are 2679397 non-null values.

There are 198854 unique values.

Here are a few sample values:
[-71.05589050673876, -71.067019464412, -71.14964068935963, -71.05466048898566, -71.06929546870342]


 This column represents the longitude of the case.

### Queue

In [176]:
describe_column('queue', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**queue (object):**

This column contains a large number of unique values.

There are 0 null values.

There are 2723525 non-null values.

There are 181 unique values.

Here are a few sample values:
['PWDx_Code Enforcement', 'PWDx_Street Light Outages', 'INFO_Mass DCR', 'PWDx_Recycling', 'PWDx_Highway Construction']


 This column represents the queue of the case.

### Geom_4326

In [177]:
describe_column('geom_4326', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**geom_4326 (object):**

This column contains a large number of unique values.

There are 44128 null values.

There are 2679397 non-null values.

There are 198927 unique values.

Here are a few sample values:
['0101000020E610000010FC6892F4C351C033E5CEE231284540', '0101000020E610000066253DC127C251C0AE6F4399F02A4540', '0101000020E6100000043E66CCF9C251C0762BD3FB282B4540', '0101000020E61000008FDFA7A03AC551C0B76B47727D2A4540', '0101000020E61000003272222465C451C0A1A144B71D2E4540']


 This column represents the geom_4326 of the case.

### Case Status

In [178]:
describe_column('case_status', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**case_status (object):**

This column contains 2 unique values: Closed, Open.

There are 0 null values.

There are 2723525 non-null values.

There are 2 unique values.

Here are a few sample values:
['Closed', 'Closed', 'Closed', 'Closed', 'Closed']


 This column represents the case status of the case.

### _ID

In [179]:
describe_column('_id', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**_id (int64):**

This column contains a large number of unique values.

There are 0 null values.

There are 2723525 non-null values.

There are 276599 unique values.

Here are a few sample values:
[153797, 14671, 124400, 251248, 129752]


 This column represents the id of the case.

### Fire District

In [180]:
describe_column('fire_district', df)

Column for this data is from 2011-2023 data of Boston 311 service requests.

**fire_district (object):**

This column contains 13 unique values: 8, 12, nan, 7, 9, 4, 6, 11, 1, 3,  , 5, 10.

There are 5616 null values.

There are 2717909 non-null values.

There are 12 unique values.

Here are a few sample values:
['4', '8', '12', '3', '4']


 This column represents the fire district of the case.